.container {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 1200px;
  margin: 0 auto;
}
.selectedDevices,
.downloadLink {
  display: inline-block;
}
header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  padding: 20px 20px;
}
.downloadLink i {
  cursor: pointer;
}
